/***** Page setup *****/

:root {
  --xtra-big-padding: 2rem;
  --big-padding: 1rem;
  --small-padding: .5rem;
}

* {
  box-sizing: border-box;
}

html {
  font: 17px/1.5 Verdana, Geneva, Tahoma, sans-serif;
}

body {
  border-bottom: 40px solid #dcd1b8;
  margin: 0;
  padding-bottom: var(--xtra-big-padding);
}

main {
  margin: 0 auto;
  max-width: 1100px;
  padding: var(--big-padding);
}

a {
  color: #1c4a1c
}

img {
  max-width: 100%;
  height: auto;
}

/***** Header *****/

header {
  background: url(../images/header-bg.jpg) repeat-x;
  column-gap: var(--big-padding);
  display: grid;
  grid-template-areas: 
    "logo text";
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  padding-top: var(--big-padding);
}

h1 {
  font: 5rem 'Palatino Linotype', 'Times New Roman', serif;
  margin: 0;
}

header p {
  font-family: 'Palatino Linotype', 'Times New Roman', serif;
  margin: 0 0 var(--big-padding) 0;
}

header div {
  grid-area: text;
}

header img {
  align-self: center;
  grid-area: logo;
}

/***** Navigation *****/

nav {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#727272+0,0e0e0e+100 */
  background: linear-gradient(to bottom,  #727272 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-shadow: 0 10px 10px -10px #000;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: var(--big-padding) .5rem;
}

nav a {
  color: #fff;
  font-weight: bold;
  padding: .25rem;
  text-decoration: none;
  text-transform: uppercase;
}

li:first-of-type {
  margin-left: 0;
}

li:last-of-type {
  margin-right: 0;
}

/***** Intro Row *****/

#intro {
  display: grid;
  grid-template-columns: 4fr repeat(3, 1fr);
}

#intro h2 {
  text-transform: capitalize;
}

#diver {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

#soccer {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

/***** Sample Row *****/

#sample {
  box-shadow: 0 14px 10px -14px #000,
              0 -14px 10px -14px #000;
  display: flex;
  gap: var(--xtra-big-padding);
  margin-bottom: var(--xtra-big-padding);
  padding: var(--xtra-big-padding);
}

#sample a {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dcd1b8+0,d6b775+100 */
  background: linear-gradient(135deg,  #dcd1b8 0%,#d6b775 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-shadow: 0 0 10px #000;
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: var(--small-padding);
  text-decoration: none;
}

#sample a:hover {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c3d374+0,d3ddba+100 */
  background: linear-gradient(135deg,  #c3d374 0%,#d3ddba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#sample img {
  align-self: flex-start;
}

#sample div {
  align-content: center;
  display: grid;
  padding-left: var(--small-padding);
}

#sample h3 {
  margin: 0;
  color: #000;
  text-transform: capitalize;
}

#sample p {
  margin: 0;
  text-decoration: underline;
  text-transform: capitalize;
}


/***** About Us *****/

#about {
  display: flex;
  gap: 4rem;
}

#about section {
  display: flex;
  flex: 1;
  gap: 10px;
}

#about h2 {
  margin: 0;
  text-transform: capitalize;
}

#about p {
  margin: 0;
}

#about article {
  flex: 1;
}

#about div {
  display: flex;
  flex-direction: column;
}

/***** Media Queries *****/

@media  screen and (max-width: 850px) {
  h1 {
    font-size: 2.5rem;
  }

  #intro {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  #intro article {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  #diver {
    grid-column: 1 / span 2;
  }

  #soccer {
    grid-column: 2 / span 2;
  }

  #sample {
    flex-direction: column;
  }

  #about {
    flex-direction: column;
    gap: var(--xtra-big-padding);
    margin-bottom: var(--xtra-big-padding);
  }

  #about section {
    flex-direction: row-reverse;
  }

  #about article {
    flex: 1;    
  }

  #about div {
    flex: .5;
  }
}

@media  screen and (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column-reverse;
  }

  header img {
    height: 200px;
    width: 200px;
  }

  header div {
    background-color: #f4efdd;
    text-align: center;
  }

  #about section {
    flex-direction: column;
  }

  #about section:first-of-type {
    border-bottom: 1px dotted #333;
    padding-bottom: var(--big-padding);
  }

  #about div {
    align-items: center;
  }
}


