@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');

/***** Page setup *****/

* {
  box-sizing: border-box;
}

html {
  font: 17px/1.5 Verdana, Geneva, Tahoma, sans-serif;
}

body {
  border-bottom: 40px solid #dcd1b8;
  margin: 0;
  padding-bottom: 2rem;
}

main {
  margin: 0 auto;
  max-width: 1100px;
  padding: 1rem;
}

a {
  color: #1c4a1c
}

/***** Header *****/

header {
  align-content: center;
  background: url(../images/header-bg.jpg);
  column-gap: 20px;
  display: grid;
  grid-template-areas: 
    "logo h1"
    "logo paragraph";
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  height: 200px;
  justify-content: center;
}

h1 {
  grid-area: h1;
  font: 5rem 'Noto Serif JP', serif;
  margin: 0;
}

header p {
  align-self: end;
  font-family: 'Noto Serif JP', serif;
  grid-area: paragraph;
  margin: 0;
}

header img {
  align-self: center;
  grid-area: logo;
  grid-column: 1 / 2;
  margin-top: 1rem;
}

/***** Navigation *****/

nav {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#727272+0,0e0e0e+100 */
  background: linear-gradient(to bottom,  #727272 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-shadow: 0 10px 10px -10px #000;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  padding: 1rem 0;
}

li > a {
  color: #fff;
  display: block;
  font-weight: bold;
  margin: 0 .5rem;
  padding: .25rem;
  text-decoration: none;
  text-transform: uppercase;
}

li:first-of-type > a {
  margin-left: 0;
}

li:last-of-type > a {
  margin-right: 0;
}
